<div class="card">
    <div class="card-header">
        @if (DisplayDayOfWeek)
        {
            <span>
                @DisplayAbriviatedDay(Day.Date.DayOfWeek)
            </span>
        }
        @if (DisplayMonth)
        {
            <span>
                @Day.Date.ToString(", MMM ")
            </span>
        }
        <span>
            @if (DisplayPassedDays ||
            Day.Date.Month == _today.Month)
            {
                @Day.Date.Day
            }
        </span>
        @if (DisplayYear)
        {
            <span>
                @Day.Date.ToString(", yyyy")
            </span>
        }
    </div>
    <div class="card-body">
        @if (Day.Activities.Any())
        {
            <div class="row">
                <strong>Schedule</strong>
            </div>
            <hr />
            @foreach (var activity in Day.Activities)
            {
                <div class="row">
                    <div class="col-6">
                        @activity.Name
                    </div>
                    <div class="col-2">
                        @activity.Time.ToString("h:m tt")
                    </div>
                </div>
                <div class="row">
                    @activity.Description
                </div>
            }
        }
        <div class="submit-button d-grid gap-2 d-md-flex justify-content-md-end">
            @if (AlwayShowButton ||
            (Day.Date >= _today
            && Day.Date.Month == _today.Month))
            {
                @if (Day.Date.Month == _today.Month)
                {
                    <button class="btn-sm btn-secondary shadow badge"
                    type="button"
                    data-bs-toggle=@ToolTipText
                    title="Schedule a task on this day"
                    @onclick=Submit>
                        @ButtonText
                    </button>
                }
            }
        </div>
    </div>
</div>

