<div class="card" style="width:fit-content">
    <div class="card-header">
        @Day.Date.DayOfWeek, @Day.Date.ToString("MMMM dd, yyyy")
    </div>
    @if (Day.Activities.Any())
    {
        <div class="card-body" style="width:fit-content">
            <div class="row">
                <strong>Schedule</strong>
            </div>
            <hr />
            @foreach (var activity in Day.Activities)
            {
                <div class="row">
                    <div class="col-6">
                        @activity.Name
                    </div>
                    <div class="col-2">
                        @activity.Time.ToString("h:m tt")
                    </div>
                </div>
                <div class="row">
                    @activity.Description
                </div>
            }
        </div>
    }
    <div class="card-footer">
        <button class="btn btn-sm btn-outline-primary shadow"
                type="button"
                data-bs-toggle="tooltip"
                title="Schedule a task on this day"
                @onclick=HandleShowAddTask>
            New Task
        </button>
    </div>
</div>

